body > .grid {
    height: 80%;
}

.baseball-field {
	height: 400px;
}

.sand {
	fill: #d8b676;
}

.dark-grass {
	fill: #47842b;
}

.light-grass {
	fill: #558e3a;
}

.white {
	fill: #f1f2f2;
}

.base-label {
	font-size: 9px;
	fill: #000;
	font-family: SegoeUI-Bold, Segoe UI;
	font-weight: 700;
}

.hit {
	stroke: #000;
	stroke-miterlimit: 10;
	stroke-width: 0.25px;
}

.red {
	fill: #dd283e;
}

.blue {
	fill: #274fe0;
}